<!DOCTYPE html>
  <head>
    <title>SXLXS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
      h2 {color: red;}
    </style>
  </head>
  <body>
    <div class="container">
      <h2>The data was extracted from these workbooks.</h2>
      <button type="button" class="btn btn-primary">
        Worksheets <span class="badge badge-light">{{ number_of_worksheets }}    </span>
      </button>
      <button type="button" class="btn btn-danger">
        Clients <span class="badge badge-light">{{ number_of_clients }}</span>
      </button>
      <br>
      <ul class="list-group">
        {% for sheets in workbook %}
          <li class="list-group-item">{{ sheets }}</li>     
        {% endfor %}
      </ul>
      <br>
      {% for client in clients %}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src={{ pictures[loop.index] }}  alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ client.first }} {{ client.last }}</h5>
            <p class="card-text">{{ client.issue }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
